<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Boburshoh, husanov, boburshoh_official, husanov boburshoh, dasturlash, internet, 5 maktab, 11-b sinf">
    <meta name="description" content="Ushbu web sayt Boburshoh Khusanovning birinchi bazaga joylagan dasturi.">
    <title>Boburshoh Khusanov</title>
    <link rel="icon" href="icon.png">
    <link rel="stylesheet" href="libs/normalize/normalize.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="libs/OwlCarousel2-2.3.4/dist/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="libs/OwlCarousel2-2.3.4/dist/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <div class="sm-header clearfix">
        <h1>Boburshoh Khusanov</h1>
        <div class="container">
            <div class="nav clearfix">
                <ul>
                    <li><a href="https://t.me/Boburshoh_1">Telegram</a></li>
                    <li><a href="https://www.instagram.com/boburshoh_official">Instagram</a></li>
                    <li><a href="https://www.youtube.com/channel/UCTsv0V3B-G0w-sE2yxz6lHw">YouTube</a></li>
                    <li><a href="https://www.google.com/maps/place/%D0%A7%D1%83%D1%81%D1%82,+%D0%A3%D0%B7%D0%B1%D0%B5%D0%BA%D0%B8%D1%81%D1%82%D0%B0%D0%BD/@40.984857,71.2266559,240m/data=!3m1!1e3!4m5!3m4!1s0x38a4d52892056361:0xd75f6f5b0dc0568c!8m2!3d41.005341!4d71.236153">Joylashgan manzili</a></li>
                    <li><a href="http://facebook.com/boburshoh.official">Facebook</a></li>
                </ul>
            </div>
            <!-- video qayta ishlash kk -->
            <div class="owl-carousel owl-theme owl-us-wrote">

              
            </div>
            <!--  -->
        </div>
    </div>

    <footer id="contacts">
        <div class="radius top"></div>
        <div class="footer-bg"></div>
        <div class="container">
            <h2 class="header-md section-header">Sayt bo`yicha savollar?</h2>
            <div class="footer-contacts">
                <a href="tel:+998990209146" class="header-sm">+998990209146</a>
                <a href="tel:+998905520130" class="header-sm">+998905520130</a>
            </div>
    
            
    
            <p class="content-text">Namangan, Chust Sadacha Labisoy 77-uy </p>
            <p class="content-text-xs">&#169; Chust Advertising 2021</p>
        </div>
        
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="js/jquery.js"></script>
    <script src="libs/OwlCarousel2-2.3.4/dist/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>
</body>
</html>